src/main/java/com/sheng/jobframework/jobdef/Java/JavaJOMSchema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="http://www.w3school.com.cn"
xmlns="http://www.w3school.com.cn"
elementFormDefault="qualified">

<xs:element name="Java">
    <xs:complexType>
      <xs:sequence>
			<xs:element name="ClassPath" type="xs:string"/>
			<xs:element name="JobInput" type="xs:string"/>
			<xs:element name="Run" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>